textarea {
    min-height: 400px;
}

.email-unread {
    padding: 10px;
    margin: 1px;
    text-align: left;
}

.email-read {
    padding: 10px;
    margin: 1px;
    text-align: left;
    background-color: #a6a6a6;
}

body {
    padding-bottom: 50px;
}
